body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pageTitleContainer {
  padding: 5px;
}

.pageTitle {
  font-size: 14px;
}

.videoList {
  width: 250px;
  padding-bottom: 10px;
}

.videoItem {
  padding: 5px;
  border-bottom: solid;
  border-width: 1px;
}

.videoItem .title {
  font-size: 14px;
  color: #202020;
}

.videoItem .link {
  font-size: 10px;
  color: #202020;
}
